<div class="row">
    <h2>New Order</h2>
</div>
<form {{action newItem on='submit'}}>
    <div class="row">
        <div class="field">
            {{view Ember.TextField class="text input" id="new-date" placeholder="Date" valueBinding="newOrderDate"}}
        </div>
        <div class="field">
            {{view Ember.TextField class="text input" id="new-amount" placeholder="Amount" valueBinding="newAmount"}}
        </div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
        <div class="medium primary btn">
            <button id="submit" {{action createOrder target="controller"}}>Add Order</button>
        </div>
        <div class="medium info btn"><a href="/">Cancel</a></div>
    </div>
</form>